.Footer {
   position:fixed;
   left:0px;
   bottom:0px;
   height: 105px;
   width:100%;
   background:#F8F8F8;
}

.Footer button {
	-moz-box-shadow: 0px 1px 0px 1px rgba(0,0,0,0.5);
	-webkit-box-shadow: 0px 1px 0px 1px rgba(0,0,0,0.5);
	box-shadow: 0px 1px 0px 1px rgba(0,0,0,0.5);
	background-color:#ED4970;
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
	border-radius:10px;
	border:none;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:20px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px 1px 0px #b23e35;
	margin-left: 0;
	width: 296px;
	height: 60px;
	max-width: 60%;
}

.Footer button:hover {
	background-color:#E42652;
}

.Footer button:active {
	position:relative;
	top:1px;
	background-color:#E42652;
	outline: none;
}

.Footer button:focus {
	outline: none;
}

.Footer .Moviesdb-logo {
	float: right;
  width: 50px;
  height: 54px;
	margin-left: -90px;
	margin-right: 40px;
	margin-top: 8px;
}
