#GenreList {
    width: 80%;
    height: 40px;
    border: 2px solid #ed4970;
    background-color: #f89aae;
    margin-left: 10%;
    border-radius: 10px;
    list-style-type: none;
    padding: 0;
}

#GenreList li {
    display: inline-block;
    width: 100px;
    height: 25px;
    background: #fff;
    color: #999;
    border-radius: 10px;
    margin-right: 10px;
    line-height: 25px;
    margin-top: 6px;
}

#GenreList li:hover {
    background: #fbe0e6;
    color: #fff;
}

#GenreList li:active {
    background: #eab3c0;
    color: #fff;
}

#GenreList .genre-selected {
    background: #cae285;
    color: #fff;
}
#GenreList .genre-selected:hover {
    background: #abd164;
    color: #fff;
}
#GenreList .genre-selected:active {
    background: #a4cb5d;
    color: #fff;
}