.Header {
   position: fixed;
   left: 0px;
   top: 0px;
   height: 74px;
   width: 100%;
   background: #ED4970;
	 margin-bottom: 74px;
	 z-index: 10;
}

.Header img {
	width: 165px;
	height: 47px;
	margin-top: 10px;
}

.Header .top-placeholder {
	width: 100%;
	height: 30px;
	padding-top: 15px;
	background-color: green;
}

@media screen and (max-width: 700px) { 
	.Header {
		height: 60px;
	}
	.Header img {
		margin-top: 7px;
	}
}