.logo-centered {
  display: block;
  height: calc(100vh - 125px);
  white-space: nowrap;
  margin-bottom: -125px;
}

.logo-top {
  display: none;
}

.logo-centered span {
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}

.logo-centered img {
  vertical-align: middle;
  width: 321px;
  height: 314px;
  max-width: 90vw;
  animation: logo-appearance 0.7s;
}

.logo-centered img.logo-easeout {
  animation: logo-dissapear 0.5s;
  animation-fill-mode:forwards;
}


@keyframes logo-appearance {
  0% {
    opacity: 0;
    margin-top: 30px;
  }
  100% {
    opacity: 1;
    margin-top: 0px;
  }
}

@keyframes logo-dissapear {
  0% {
    margin-left: 0;
  }
  100% {
    margin-left: -200%;
  }
}
