
.MovieOverview .basic-info {
  position: relative;
  width: 49%;
  float: left;
  margin-top: 50px;
  margin-left: 5%;
  text-align: left;
}

.MovieOverview .basic-info .movie-title {
  font-size: 1.3rem;
  color: #ED4970;
}

.MovieOverview .basic-info .movie-duration {
  margin-top: 10px;
  color: #5A5A5A;
}

.MovieOverview img {    
  position: relative;
  float: left;
  height: 519px;
  width: 40%;
  object-fit: cover;
}

.MovieOverview img[src=""] {
	display: none;
}


@media screen and (max-width: 700px) { 
  .MovieOverview .basic-info {
    width: 90%;
    margin-top: 20px;
    margin-left: 5%;
    text-align: center;
  }
  
  .MovieOverview img {    
    width: 65%;
    margin-left: 17.5%;
    height: auto;
    object-fit: contain;
  }

  .MovieOverview .basic-info .movie-title {
    font-size: 1.2rem;
  }

}