.MovieContainer {
  width: 100vw;
  height: calc(100vh - 270px);
  overflow: hidden;
  margin-bottom: 130px;  
  margin-top: 120px;
}
#Movie {
  margin-left: 15%;
  margin-right: 15%;
  width: 70%;
  color: #262e31;
  background-color: #fff;
  -moz-box-shadow: 0px 6px 1px 0px rgba(171,171,171,0.5);
	-webkit-box-shadow: 0px 6px 1px 0px rgba(171,171,171,0.5);  
  box-shadow: 0px 6px 1px 0px rgba(171,171,171,0.5);
  height: 100%;
  overflow-y: scroll;
  z-index: 9;
}

 #Movie::-webkit-scrollbar { 
    display: none; 
}

#Movie.movie-easein {
  animation: movie-appearance 0.5s;
  animation-fill-mode:forwards;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

#Movie.movie-easeout {
  animation: movie-dissapear 0.5s;
  animation-fill-mode:forwards;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

@keyframes movie-appearance {
  0% {
    margin-left: 100vw;
  }
  100% {
    margin-left: 15vw;
  }
}

@keyframes movie-dissapear {
  0% {
    margin-left: 15vw;
  }
  100% {
    margin-left: -100vw;
  }
}

#Movie article {
  width: 70vw;
	min-height: 30vh;
}

#Movie p {
  font-size: 1rem;
  text-align: justify;
  margin: 20px auto;
}

#Movie li {
	display: inline;
	list-style-type: none;
	padding-right: 20px;
	font-style: italic;
}

@media screen and (min-width: 1200px) { 
  #Movie img {    
    width: 40%;
    height: 100%;
    object-fit: cover;
  }

	#Movie img[src=""] {
		display: none;
	}
}

@media screen and (max-width: 700px) { 
  #MovieContainer { 
    margin-top: 80px;
    height: calc(100vh - 210px);
  }
}